@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.icon.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          type="text/css"
          href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet"
          type="text/css"
          href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

    <link rel="stylesheet" href="~/css/base.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <title>Home</title>
</head>
<body>
    <header class="shadow">
        <div class="nav container d-flex justify-content-between align-items-center">
            <div class="nav__logo">
                <a href="">Logo</a>
            </div>
            <div class="nav__search">
                <input type="text" placeholder="search" />
                <button>
                    <i class="bi bi-search"></i>
                </button>
            </div>
            <div class="nav__right d-flex gap-2">
                <a href="@Url.Action("ViewProfile", "User", new {userId=User.Identity.GetUserId()})"> @User.Identity.Name </a>
            </div>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="./lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
</html>
